* {
  margin: 0;
  padding: 0;
}

body {
  background: #dacbcb;
}

.container {
  padding: 10px;
  columns: 5 200px;
}

.item {
  background: #fff;
  margin: 5px;
  margin-bottom: 1em;
  border-radius: 15px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.22);
}

.item:hover {
  color: rgb(148, 37, 37);
}

.img-responsive {
  border-radius: 15px;
  max-width: 100%;
  background: #fff;
}
