* {
  margin: 0;
  padding: 0;
}

body {
  background:#f8f6f6;
}

.container {
  height: 100%;
  top: 50px;
  padding: 10px;
  columns: 5 200px;
}

.item {
  background: #f8f6f6;
  margin: 5px;
  margin-bottom: 1em;
  border-radius: 15px;
}

p{
  height: 2.5em;
  padding: .5em;
  font-size: 10px;
}

.img-responsive {
  border-radius: 15px;
  max-width: 100%;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.22);
}

.save-button{
  background: red;
  border: 0;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  opacity: 0;
}